curso-no-code.json
{
  "name": "curso-no-code",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá! \nComo posso te ajudar ?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "abe750a8-68f8-4e6f-80f4-69c5e8d79251",
      "name": "When chat message received",
      "webhookId": "a73a4656-67e4-48a0-bae8-2e349f7e0bc8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1d44cb8-6f09-4442-8290-cb9aced9a817",
              "name": "id_conversa",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "a7d54c24-f97b-47db-a106-98e6654c482b",
              "name": "Mensagem",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "179face5-2c1d-48c3-a966-aec90ca0773a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1g34g2IPp6pZ3LHM27EBD-S5APnqX8F4DAw95urF-Fow",
          "mode": "list",
          "cachedResultName": "Curso N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1g34g2IPp6pZ3LHM27EBD-S5APnqX8F4DAw95urF-Fow/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1g34g2IPp6pZ3LHM27EBD-S5APnqX8F4DAw95urF-Fow/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_conversa": "={{ $json.id_conversa }}",
            " Mensagem": "={{ $json.Mensagem }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " Mensagem",
              "displayName": " Mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "b65003bd-f1e9-4535-b2f1-ac5caeece571",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WySMANE1ZEen4bzW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.Mensagem }}",
        "options": {
          "systemMessage": "Você é um super agente de suporte, seja educado, engraçado e utilize emojis em suas respostas para deixar a conversa mais humanizada. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "5a3d4060-91ce-4a50-a88e-c3bd3cf46cc1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        496,
        208
      ],
      "id": "6ae81b17-86d7-46b4-bd72-c7e5e10d1c9f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SYYFCSdYwKBY7dK2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.id_conversa }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        640,
        208
      ],
      "id": "6b271d7d-11a2-4b3d-a9f5-8b262a23cea7",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        816,
        208
      ],
      "id": "31486c44-7162-4f7a-b2c0-2f718be314ff",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        976,
        192
      ],
      "id": "85a5428c-f0e6-425e-a997-29233ed339aa",
      "name": "Wikipedia"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        976,
        0
      ],
      "id": "01342237-3de7-4754-ab6d-63136ac84675",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b11ec3bd-1c1c-4ccf-94b1-0978af97787e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac9a7b57012e6e040db968e4dc320f11d842a3503838e0caf427ab441f357ca3"
  },
  "id": "QRtqgDGQ0EfbVsLy",
  "tags": []
}